dist/
deploy_versions/
.temp/
.rn_temp/
nodeScript/node_modules
cloud/functions/bind_wx/node_modules
cloud/functions/post_fromlocal/node_modules
cloud/functions/post_score_fromlocal/node_modules/
*package-lock.json
.DS_Store
.swc
