Page { background-color: #1f232d; }

.rank-top-container {
    position: relative;
    width: 100%;
    height: 460px;
    margin-top: 40px;
    .rank-bottom-bg{
        position: absolute;
        bottom: -20px;
        z-index: 1;
    }
    .top-rank-user-info{
        position: absolute;
        color: white;
        font-size: 22px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        .top-avatar {
            position: relative;
            border: 1px solid #252525;
            background: #252525;
            // box-shadow: 0 0 8px white;
            margin-bottom: 8px;
            z-index: 2;
        }
        .no-icon{
            position: absolute;
            width: 83rpx;
            height: 48rpx;
            top: -42px;
            background-size: 100% 100% !important;
            z-index: 1;
            &.no-1 {
                background: url('../../assets//no-1.png') no-repeat;
                // background-size: 44rpx 52rpx
            }
            &.no-2 {
                left: 14px;
                background: url('../../assets//no-2.png') no-repeat;
                // background-size: 44rpx 52rpx
            }
            &.no-3 {
                left: 14px;
                top: -40px;
                background: url('../../assets//no-3.png') no-repeat;
                // background-size: 44rpx 52rpx
            }
        }
        &.rank-1 {
            left: 50%;
            transform: translateX(-50%);
            top: -4px;
            .top-avatar {
                border: 6px solid gold;
                // box-shadow: 0 0 8px gold;
            }
        }
        &.rank-2 {
            left: 90px;
            top: 72px;
            .top-avatar {
                border: 6px solid silver;
            }
        }
        &.rank-3 {
            right: 90px;
            top: 80px;
            .top-avatar {
                border: 6px solid #b87333
            }
        }
    
    }
}
.table-container {
    margin-top: 30px;
    color: white;
    font-size: 22px;
    .table-th {
        position: sticky;
        top: 0;
        display: flex;
        padding: 24rpx 40rpx 24rpx;
        border-radius: 24px 24px 0 0;
        align-items: center;
        background: #181818;
        z-index: 2;
        .th-no {
            width: 60px;
            text-indent: -20px;
        }
        .th-user {
            flex: 1;
        }
        .th-car {
            width: 16%;
        }
        .th-score {
            width: 120px;
            text-indent: 50px;
        }
        .th-gmt {
            width: 140px;
            text-indent: 40px;
        }
    }
    .table-row {
        display: flex;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 4px;
        background: #181818;
        .noth-cell {
            width: 90px;
            text-indent: 30px;
        }
        .user-cell {
            display: flex;
            flex: 1;
            // flex-direction: column;
            align-items: center;
            text-align: left;
            .item-avatar{
                margin-right: 6px;
            }
            .item-name {
                padding: 0 6px;
            }
        }
        .car-cell {
            width: 18%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .score-cell {
            width: 120px;
        }
        .gmt-cell {
            width: 140px;
            font-size: 20px;
            color: #A4A4A4;
        }
    }
}