Page { background-color: #1f232d; }
.rank-th{
    color: rgb(180, 176, 176);
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding: var(--nutui-collapse-item-padding, 13px 26px);
    &:first-child {
        margin-left: 30px;
    }

}
.rank-list-container{
    .rank-item {
        // display: flex;
        // border-bottom: 1px solid #8d8a8a;
        margin: 2px 0;
        background-color: #30333e;
    }

    .nut-collapse-item-header {
        position: sticky;
        top: -1px;
        align-items: center;
        background-color: #1f232d;
        .nut-collapse-item-icon-box {
            display: none;
        }
        .rank-item-title {
            display: flex;
            align-items: center;
            .item-avatar {
                margin-right: 8px;
            }
            .item-name {
                width: 110px;
                color: rgba(255, 255, 255, 0.739);
                .item-nick-name{
                    flex-direction: column;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 100%;
                }
            }
        }
        .nut-collapse-item-extra{
            padding: 0;
            .extra-cell{
                display: flex;
                width: 100%;
                justify-content: space-between;
                .best-score{
                    font-weight: 500;
                    color: white;
                }
                .total-lap{
                    font-size: 12px;
                }
            }
        }
    }
    
    .rank-item-record-list{
        font-size: 24px;
        color: rgb(193, 190, 190);
        .rank-item-detail-item, .detail-item-th{
            display: flex;
            justify-content: space-between;
            view {
                text-align: left;
                // flex: 1;
            }
        }
        
        .detail-item-th{
            color: rgb(180, 176, 176);
        }
        .rank-item-detail-item{
            .detail-item-no{
                font-style: italic;
            }
            .detail-item-score {
                font-weight: 500;
            }
            .detail-item-recordtime{
                width: 100px;
            }
            padding: 4px 0;
            border-bottom: 1px solid rgba(0,0,0,0.02)
        }
    }
    .nut-collapse-item-content{
        background-color: #333640f9;
    }
}
.rank-no-list-container {
    .rank-item{
        display: flex;
        justify-content: space-between;
        color: white;
    }
}