Page { background-color: #1f232d; }
.bind-wx-timer {
  .avatar-form-item {
    align-items: center !important;
  }
  .nut-noticebar .nut-noticebar-box {
    background: #252525;
    color: #686868;
  }
  .timer-form-item {
    .nut-form-item-body {
      flex: none;
      .timer-code-block{
        background-color: #6b6666;
        padding: 2px 4px;
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
    } 
  }
  .avatar-choose-btn {
    border:none 0;
    // width: 100%;
    margin-left: -48px;
    height: auto;
    position: relative;
    .upload-tip{
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 60px;
      color: #1f232d;
      font-size: 20px;
      z-index: 9;
    }
    .edit-icon{
      position: absolute;
      left: 180px;
      bottom: 40px;
      color: white;
      z-index: 9;
    }
  }
  .avatar {
    margin: 40px auto;
    border: 1px solid #252525;
    background: #252525;
    box-shadow: 0 0 8px white;
  }
  .nut-divider {
    margin: 0px auto;
    width: 90%;
    border-color: rgba(255, 255, 255, 0.15);
    border-style: dashed;
  }
  .nut-cell-group-wrap {
    background: transparent;
    .nut-form-item-label, .nut-input, .nut-input> input{
      color: white
    }
    .nut-cell {
      background: transparent;
    }
  }
}